{% load static tailwind_tags %}

<html lang="en">
    <head>
        <title>Lazapee</title>
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <style>
            body {
                font-family: "Instrument Sans", sans serif;
            }
        </style>
        {% tailwind_css %}
    </head>
    <body>
        <nav class="bg-black justify-center">
            <div class="">
                <a href="/" class="">Lazapee</a>
                <a href=""></a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>  
        <footer class="">
            <div class="">&copy; 2024</div>
        </footer>
    </body>
</html>