{% extends 'payroll_app/base.html' %}

{% load static %}
{% block content %}

<!-- Header-->
<div class="flex items-center justify-between mb-12">
    <div>
        <span class="text-2xl font-semibold">Employees</span>
        <p class="text-sm pt-2 text-[#71717A]">Manage your employees and their allowance.</p>
    </div>
    <div>
        <button class="flex items-center rounded-md text-sm bg-black text-white px-4 py-2 hover:bg-[#1B1B1B]">
            <svg class="-ml-0.5 mr-2.5" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.75C8 2.47386 7.77614 2.25 7.5 2.25C7.22386 2.25 7 2.47386 7 2.75V7H2.75C2.47386 7 2.25 7.22386 2.25 7.5C2.25 7.77614 2.47386 8 2.75 8H7V12.25C7 12.5261 7.22386 12.75 7.5 12.75C7.77614 12.75 8 12.5261 8 12.25V8H12.25C12.5261 8 12.75 7.77614 12.75 7.5C12.75 7.22386 12.5261 7 12.25 7H8V2.75Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            New Employee
        </button>
    </div>
</div>

<!-- Table -->
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-[#71717A]">
        <thead class="text-xs text-[#71717A] uppercase border-b">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    ID Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Rate
                </th>
                <th scope="col" class="px-6 py-3">
                    Allowance
                </th>
                <th scope="col" class="px-6 py-3">
                    Overtime
                </th>
                <th scope="col" class="px-6 py-3">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white even:bg-gray-50 border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    Tyler Durden
                </th>
                <td class="px-6 py-4">
                    224987
                </td>
                <td class="px-6 py-4">
                    30,000
                </td>
                <td class="px-6 py-4">
                    500
                </td>
                <td class="px-6 py-4">
                    0
                </td>
                <td class="px-6 py-4">
                    <div class="relative">
                        <button id="dropdownToggleButton" aria-haspopup="true" aria-expanded="false" class="flex items-center font-medium bg-gray-50 border border-gray-200 px-4 py-2 rounded-md dropdown-toggle">
                            Edit
                            <svg class="ml-1.5 -mr-1" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6H11L7.5 10.5L4 6Z" fill="currentColor"></path>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownMenu" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 dropdown-menu">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                            </li>
                            </ul>
                            <div class="py-2">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Separated link</a>
                            </div>
                        </div>                                          
                    </div>
                </td>                
            </tr>
        </tbody>
    </table>
</div>
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dropdownButton = document.getElementById('dropdownToggleButton');
        var dropdownMenu = document.getElementById('dropdownMenu');

        dropdownButton.addEventListener('click', function() {
            dropdownMenu.classList.toggle('show');
        });

        document.addEventListener('click', function(event) {
            if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove('show');
            }
        });
    });
</script> 

{% endblock %}