{% extends 'payroll_app/base.html' %}

{% load static %}
{% block content %}

<!-- Header-->
<div class="flex items-center mb-12">
    <div>
        <span class="text-2xl font-semibold">Payslips</span>
        <p class="text-sm pt-2 text-[#71717A]">Manage your employees' payslips.</p>
    </div>
</div>

{% if messages %}
<div class="flex items-center text-left p-4 border border-gray-200 bg-gray-50 text-gray-800 text-sm rounded-md mb-8">
    <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.49991 0.876892C3.84222 0.876892 0.877075 3.84204 0.877075 7.49972C0.877075 11.1574 3.84222 14.1226 7.49991 14.1226C11.1576 14.1226 14.1227 11.1574 14.1227 7.49972C14.1227 3.84204 11.1576 0.876892 7.49991 0.876892ZM1.82707 7.49972C1.82707 4.36671 4.36689 1.82689 7.49991 1.82689C10.6329 1.82689 13.1727 4.36671 13.1727 7.49972C13.1727 10.6327 10.6329 13.1726 7.49991 13.1726C4.36689 13.1726 1.82707 10.6327 1.82707 7.49972ZM8.24992 4.49999C8.24992 4.9142 7.91413 5.24999 7.49992 5.24999C7.08571 5.24999 6.74992 4.9142 6.74992 4.49999C6.74992 4.08577 7.08571 3.74999 7.49992 3.74999C7.91413 3.74999 8.24992 4.08577 8.24992 4.49999ZM6.00003 5.99999H6.50003H7.50003C7.77618 5.99999 8.00003 6.22384 8.00003 6.49999V9.99999H8.50003H9.00003V11H8.50003H7.50003H6.50003H6.00003V9.99999H6.50003H7.00003V6.99999H6.50003H6.00003V5.99999Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
    </svg>
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- Payroll Creation -->
<div class="rounded-md bg-white border border-gray-200 sm:p-6 md:p-8 mb-6">
    <form class="space-y-6" action="{% url 'create_payslip' %}" method="POST">
        {% csrf_token %}
        <h2 class="text-lg font-medium">Payroll Creation</h2>
        <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Payroll for</label>
            <select name="id_number" id="id_number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5">
                <option value="all_employees">All Employees</option>
                {% for employee in employees %}
                    <option value="{{ employee.id_number }}">{{ employee.id_number }}</option>
                {% endfor %}
            </select>
        </div>
        <hr class="my-6 border-gray-200">
        <div>
            <label for="month" class="block mb-2 text-sm font-medium text-gray-900">Month</label>
            <select id="month" name="month" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5" required>
                <option disabled selected>Select a month...</option>
                <option value="january">January</option>
                <option value="february">February</option>
                <option value="march">March</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">June</option>
                <option value="july">July</option>
                <option value="august">August</option>
                <option value="september">September</option>
                <option value="october">October</option>
                <option value="november">November</option>
                <option value="december">December</option>
            </select>
        </div>
        <div>
            <label for="year" class="block mb-2 text-sm font-medium text-gray-900">Year</label>
            <input type="number" name="year" id="year" min="1900" max="2024" placeholder="YYYY" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5" required />
        </div>
        <div class="pb-4">
            <label for="cycle" class="block mb-2 text-sm font-medium text-gray-900">Cycle</label>
            <select id="cycle" name="cycle" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5" required>
                <option disabled selected>Select cycle...</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <button type="submit" class="w-full text-white bg-black hover:bg-[#1B1B1B] font-medium rounded-md text-sm px-5 py-3 text-center">Submit</button>
    </form>
    
</div>

<!-- Payslips Summary -->
<div class="relative overflow-x-auto rounded-md bg-white border border-gray-200 sm:p-6 md:p-8 mb-16">
    <h2 class="text-lg font-medium mb-6">Payslips Summary</h2>
    <table class="w-full text-sm text-left text-[#71717A]">
        <thead class="text-xs text-[#71717A] uppercase border-b">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Cycle
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Pay
                </th>
                <th scope="col" class="px-6 py-3">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            {% for payslip in payslips %}
                <tr class="odd:bg-white even:bg-gray-50 border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ payslip.id_number.id_number }}
                    </th>
                    <td class="px-6 py-4">
                        {{ payslip.month|title }} {{ payslip.date_range }}, {{ payslip.year }}
                    </td>
                    <td class="px-6 py-4">
                        {{ payslip.pay_cycle }}
                    </td>
                    <td class="px-6 py-4">
                        {{ payslip.total_pay }}
                    </td>
                    <td class="px-6 py-4 flex items-center space-x-2">
                        <a href="{% url 'view_payslip' payslip.id %}" class="w-auto flex items-center font-medium bg-gray-50 border border-gray-200 px-4 py-2 rounded-md hover:bg-gray-100">
                            View
                        </a>
                        <form action="{% url 'delete_payslip' payslip.id %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this payslip?')" class="w-auto flex items-center">
                            {% csrf_token %}
                            <button type="submit" class="w-auto flex items-center font-medium bg-red-500 border text-black border-gray-200 px-4 py-2 rounded-md hover:bg-red-100">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}