{% extends 'payroll_app/base.html' %}

{% load static %}
{% block content %}

<!-- Header-->
<div class="flex items-center mb-12">
    <div>
        <span class="text-2xl font-semibold">Payslips</span>
        <p class="text-sm pt-2 text-[#71717A]">Manage your employees' payslips.</p>
    </div>
</div>

<!-- Payroll Creation -->
<div class="rounded-md bg-white border border-gray-200 sm:p-6 md:p-8 mb-10">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form class="space-y-6" action="{% url 'create_payslip' %}" method="POST">
        {% csrf_token %}
        <h2 class="text-lg font-medium">Payroll Creation</h2>
        <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Payroll for</label>
            <select name="id_number" id="id_number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5">
                <option value="all_employees">All Employees</option>
                {% for employee in employees %}
                    <option value="{{ employee.id_number }}">{{ employee.id_number }}</option>
                {% endfor %}
            </select>
        </div>
        <hr class="my-6 border-gray-200">
        <div>
            <label for="month" class="block mb-2 text-sm font-medium text-gray-900">Month</label>
            <select id="month" name="month" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5" required>
                <option disabled selected>Select a month...</option>
                <option value="january">January</option>
                <option value="february">February</option>
                <option value="march">March</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">June</option>
                <option value="july">July</option>
                <option value="august">August</option>
                <option value="september">September</option>
                <option value="october">October</option>
                <option value="november">November</option>
                <option value="december">December</option>
            </select>
        </div>
        <div>
            <label for="year" class="block mb-2 text-sm font-medium text-gray-900">Year</label>
            <input type="number" name="year" id="year" min="1900" max="2024" placeholder="YYYY" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5" required />
        </div>
        <div class="pb-4">
            <label for="cycle" class="block mb-2 text-sm font-medium text-gray-900">Cycle</label>
            <select id="cycle" name="cycle" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md block w-full p-2.5" required>
                <option disabled selected>Select cycle...</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <button type="submit" class="w-full text-white bg-black hover:bg-[#1B1B1B] font-medium rounded-md text-sm px-5 py-3 text-center">Submit</button>
    </form>
    
</div>

<!-- Payslips Summary -->
<div class="relative overflow-x-auto rounded-md bg-white border border-gray-200 sm:p-6 md:p-8 mb-16">
    <h2 class="text-lg font-medium mb-6">Payslips Summary</h2>
    <table class="w-full text-sm text-left text-[#71717A]">
        <thead class="text-xs text-[#71717A] uppercase border-b">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Cycle
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Pay
                </th>
                <th scope="col" class="px-6 py-3">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            {% for payslip in payslips %}
                <tr class="odd:bg-white even:bg-gray-50 border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ payslip.id_number.id_number }}
                    </th>
                    <td class="px-6 py-4">
                        {{ payslip.month }} {{ payslip.year }}
                    </td>
                    <td class="px-6 py-4">
                        {{ payslip.pay_cycle }}
                    </td>
                    <td class="px-6 py-4">
                        {{ payslip.total_pay }}
                    </td>
                    <td class="px-6 py-4">
                        <div class="relative">
                            <button class="flex items-center font-medium bg-gray-50 border border-gray-200 px-4 py-2 rounded-md">
                                View
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>        
    </table>
</div>

{% endblock %}