{% extends 'payroll_app/base.html' %}

{% load static %}
{% block content %}

<!-- Back button -->
<div class="flex items-center mb-4">
    <a class="flex items-center px-3 py-2 rounded-md hover:bg-gray-100 transition duration-75 text-[15px] font-medium text-gray-700"
        href="{% url 'payslips' %}">
        <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M6.85355 3.14645C7.04882 3.34171 7.04882 3.65829 6.85355 3.85355L3.70711 7H12.5C12.7761 7 13 7.22386 13 7.5C13 7.77614 12.7761 8 12.5 8H3.70711L6.85355 11.1464C7.04882 11.3417 7.04882 11.6583 6.85355 11.8536C6.65829 12.0488 6.34171 12.0488 6.14645 11.8536L2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L6.14645 3.14645C6.34171 2.95118 6.65829 2.95118 6.85355 3.14645Z"
                fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
        Back
    </a>
</div>

<!-- Payslip table -->
<div class="rounded-lg border border-gray-200 px-8 py-10 text-sm">
    <!-- Title -->
    <span class="text-lg font-semibold">{{ payslip.id_number.name }}'s Payslip Details</span>
    <hr class="mt-2.5" />
    <!-- Employee Details -->
    <div class="flex flex-row justify-between mt-4 text-[#71717A]">
        <div>
            <p>Name: {{ payslip.id_number.name }}</p>
        </div>
        <div>
            <p>Date: {{ payslip.month|title }} {{ payslip.date_range }}, {{ payslip.year }}</p>
        </div>
    </div>
    <div class="flex flex-row justify-between mb-10 text-[#71717A]">
        <div>
            <p>ID Number: {{ payslip.id_number.id_number }}</p>
        </div>
        <div>
            <p>Payslip ID: {{ payslip.id }}</p>
        </div>
    </div>
    <!-- Table Headings -->
    <div class="flex flex-row justify-between font-bold mb-1">
        <div>
            <h2>EARNINGS:</h2>
        </div>
        <div class="mr-64">
            <h2>AMOUNT</h2>
        </div>
    </div>
    <!-- Base Pay -->
    <div class="flex flex-row justify-between text-[#71717A]">
        <div>
            <h3 class="ml-2">Base Pay</h3>
        </div>
        <div class="mr-96">
            <p>{{ payslip.rate | floatformat:2 }}</p>
        </div>
    </div>
    <!-- Allowances -->
    <div class="flex flex-row justify-between text-[#71717A]">
        <div>
            <h3 class="ml-2">Allowances</h3>
        </div>
        <div class="mr-96">
            <p>{{ payslip.earnings_allowance | floatformat:2 }}</p>
        </div>
    </div>
    <!-- Overtime -->
    <div class="flex flex-row justify-between text-[#71717A]">
        <div>
            <h3 class="ml-2">Overtime</h3>
        </div>
        <div class="mr-96">
            <p>{{ payslip.overtime | floatformat:2 }}</p>
        </div>
    </div>
    <hr class="my-4" />
    <!-- Gross Pay -->
    <div class="flex flex-row justify-between">
        <div>
            <h2 class="font-bold">GROSS PAY</h2>
        </div>
        <div class="mr-64 font-semibold">
            <h2>PHP {{ gross_pay | floatformat:2 }}</h2>
        </div>
    </div>
    <hr class="my-4" />
    <!-- DEDUCTIONS -->
    <div class="flex flex-row justify-between font-bold">
        <div>
            <h2>DEDUCTIONS:</h2>
        </div>
    </div>
    <!-- W/ Holding Tax -->
    <div class="flex flex-row justify-between text-[#71717A]">
        <div>
            <h3 class="ml-2 uppercase">W/holding Tax</h3>
        </div>
        <div class="mr-96">
            <p>{{ payslip.deductions_tax | floatformat:2 }}</p>
        </div>
    </div>
    {% if payslip.pay_cycle == 1 %}
    <!-- Pag-ibig -->
    <div class="flex flex-row justify-between mb-8 text-[#71717A]">
        <div>
            <h3 class="ml-2 uppercase">Pag-ibig</h3>
        </div>
        <div class="mr-96">
            <p>{{ payslip.pag_ibig | floatformat:2}}</p>
        </div>
    </div>
    {% else %}
    <!-- Philhealth -->
    <div class="flex flex-row justify-between text-[#71717A]">
        <div>
            <h3 class="ml-2 uppercase">Philhealth</h3>
        </div>
        <div class="mr-96">
            <p>{{ payslip.deductions_health | floatformat:2 }}</p>
        </div>
    </div>
    <!-- SSS -->
    <div class="flex flex-row justify-between mb-8 text-[#71717A]">
        <div>
            <h3 class="ml-2">SSS</h3>
        </div>
        <div class="mr-96">
            <p>{{ payslip.sss | floatformat:2 }}</p>
        </div>
    </div>
    {% endif %}
    <!-- Total Deductions -->
    <div class="flex flex-row justify-between">
        <div>
            <h2 class="font-semibold">TOTAL DEDUCTIONS</h2>
        </div>
        <div>
            <h2 class="mr-64 font-semibold">PHP {{ total_deductions | floatformat:2 }}</h2>
        </div>
    </div>
    <hr class="my-6" />
    <!-- Net Pay -->
    <div class="flex flex-row justify-between">
        <div>
            <h2 class="font-bold">NET PAY:</h2>
        </div>
        <div>
            <p class="mr-64 font-semibold">PHP {{ payslip.total_pay | floatformat:2 }}</p>
        </div>
    </div>
</div>

{% endblock %}